---

import { getCollection } from "astro:content";
import Menu  from "../components/jsx/Menu"
const socialData = await getCollection("socialPlatform");


interface Props {
  title: string;
}

const { title } = Astro.props;
const url = Astro.url.pathname;

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <link rel="stylesheet" href="../../public/style/globals.css" /> -->
    <!-- <link rel="stylesheet" href="../../node_modules/prismjs/themes/prism.css" /> -->
    <!-- <link
      rel="stylesheet"
      href="../../node_modules/prism-themes/themes/prism-material-dark.min.css"
    /> -->
    <meta name="generator" content={Astro.generator} />  
    <title>{title}</title>
    
  </head>
  <body
    class="scrollbar-thin scrollbar-thumb-[#323233] hover:scrollbar-thumb-[#323233]"
  >
    <div
      class="dark relative flex min-h-screen w-full justify-center bg-black font-sans lg:px-4 xl:px-8"
    >
      <div
        class="fixed bottom-0 left-0 z-50 hidden w-full bg-black md:block lg:h-4 xl:h-8"
      >
      </div>
      <div
        class="fixed top-0 left-0 z-50 hidden w-full bg-black md:block lg:h-4 xl:h-8"
      >
      </div>
      <div class="relative w-full max-w-screen-xl">
        <main class="relative h-full bg-[#1E1E21]">
          <div
            class="flex h-full w-full flex-col content-center items-center pb-20 lg:py-4 xl:py-8"
          >
            <slot />
          </div>
        </main>
      </div>
      <!-- <Menu /> -->
      <Menu url={url} socialData={socialData[0]?.data} client:load />
    </div>
    <div
      id="toast-container"
      class="fixed right-0 top-0 max-w-400px z-1000 p-10">
      <div
        id="toast"
        class="hidden bg-white text-black border-l-[10px] border-green p-15 mb-[10px] font-bold text-xl">
      </div>
    </div>
  </body>
</html>
